/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url(https://i.pinimg.com/originals/87/ac/9e/87ac9e95c08eb6aa0c5c27ca88e32fa8.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    }
