<div class="divheader" color="primary">
    <div class="headerdiv1"></div>
    <div class="headertitle">
        <h1>TASK MANAGEMENT SYSTEM</h1>
    </div>
    <div class="headerdivtoogle">
</div>
</div>

<div class="search">
    <input class="searchinput" type="text" name="name" [(ngModel)]="name"
        (ngModelChange)="searchTask()" placeholder="Search task...">
</div>
<div class="btnsortcontainer">
    <div class="btnsort">
        <div class="btndiv">
            <button class="btn2" mat-raised-button color="primary" [routerLink]="['/manageusers']">MANAGE USER</button><br>
        </div>
        <div class="divsort">
            <mat-form-field appearance="fill" class="matformfield" color="primary">
                <mat-label><b>Sort by</b></mat-label>
                <mat-select [(value)]="selected">
                    <mat-option>None</mat-option>
                    <mat-option value="Start date">Start date</mat-option>
                    <mat-option value="End date">End date</mat-option>
                    <mat-option value="Status">Status</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="btndiv">
            <button class="btn1" mat-raised-button color="primary">ADD TASK</button><br>
        </div>
    </div>
</div>
<hr>
<div class="task-div" *ngFor="let task of tasks | paginate: {id: 'listing_pagination', 
                                itemsPerPage: 6,
                                currentPage: page,
                                totalItems: totalRecords}" >
    <mat-card class="task-card">
        <div class="titleduetask" (click)="viewDetails(task.taskUnitId)">
            <mat-card-header>
                <mat-card-title>Task {{task.taskUnitId}} : <b>{{task.name}}</b></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Due {{task.endDate}}</p>
            </mat-card-content>
        </div>
        <div class="moretask">
            <mat-card-actions>
                <button mat-button [matMenuTriggerFor]="menu" class="btnmore"><b>...</b></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit</button>
                    <button mat-menu-item (click)="removeTask(task.taskUnitId)">Delete</button>
                </mat-menu>
            </mat-card-actions>
        </div>
    </mat-card>
</div>
<div class="paginationdiv">
    <pagination-controls id="listing_pagination" maxSize="4" dircetionLinks="true" (pageChange)="page = $event">
    </pagination-controls>
</div>
